.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1rem;    
    align-items: center;
    margin: 0 auto;    
}
@media screen and (max-width: 1080px){
    .contenedor-productos{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px){
    .contenedor-productos{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px){
    .contenedor-productos{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px){
    .contenedor-productos{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
    }
}

