.modal {
  height: 388px !important;
  width: 378px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal .formulario-login {
  height: 388px;
  left: 0;
  position: absolute;
  top: 0;
  width: 378px;
}

.modal .frame {
  background: linear-gradient(180deg, rgb(244, 216, 143) 0%, rgb(160.22, 134.31, 66.76) 100%);
  border-radius: 7.89px;
  height: 388px;
  overflow: hidden;
  position: relative;
}

.modal .overlap {
  border: 0.79px solid;
  border-color: #3f9989;
  border-radius: 3.95px;
  height: 38px;
  left: 33px;
  position: absolute;
  top: 270px;
  width: 312px;
}

.modal .text-wrapper {
  color: #111111;
  font-family: 'Lato-Bold', Helvetica;
  font-size: 12.6px;
  font-weight: 700;
  height: 19px;
  left: 85px;
  letter-spacing: 0;
  line-height: 18.9px;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}

.login-google {
  /* no background */
  background: none;
  border-radius: 3.95px;
  height: 38px;
  left: 0px;
  position: absolute;
  top: 0px;
  bottom: 200px;
  width: 312px;
  cursor: pointer;
}

.modal .overlap-group {
  background-color: #3f9989;
  border-radius: 3.95px;
  height: 38px;
  left: 33px;
  position: absolute;
  top: 215px;
  width: 312px;
}

.modal .iniciar-sesi-n {
  background: linear-gradient(180deg, rgb(63.83, 153.2, 137.11) 0%, rgb(50, 51, 52) 100%);
  color: #ffffff;
  font-family: 'Lato-Bold', Helvetica;
  font-size: 12.6px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 3.95px;
  border: none;
  height: 38px;
  width: 312px;
  position: absolute;
  cursor: pointer;
}

.modal .quiero-crear-una {
  color: #1e1e1e;
  font-family: 'Lato-Medium', Helvetica;
  font-size: 12.6px;
  font-weight: 400;
  height: 19px;
  left: 103px;
  letter-spacing: 0;
  line-height: 18.9px;
  position: absolute;
  text-align: center;
  top: 330px;
  white-space: nowrap;
}

.modal .span {
  font-weight: 500;
}

.modal .text-wrapper-2 {
  font-family: 'Lato-Black', Helvetica;
  font-weight: 900;
}

.modal .modal-title {
  color: #1e1e1e;
  font-family: 'Lato-SemiBold', Helvetica;
  font-size: 15.8px;
  font-weight: 600;
  height: 19px;
  left: 109px;
  letter-spacing: 0;
  line-height: 18.9px;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
}

.modal .email-wrapper {
  background-color: #ffffff;
  border-radius: 3.95px;
  height: 41px;
  left: 33px;
  position: absolute;
  top: 69px;
  width: 312px;
}

.modal .text-wrapper-3 {
  color: #3f9989;
  font-family: 'Lato-Bold', Helvetica;
  font-size: 11.1px;
  font-weight: 700;
  height: 19px;
  left: 9px;
  letter-spacing: 0;
  line-height: 18.9px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.modal .contrase-a-wrapper {
  background-color: #ffffff;
  border-radius: 3.95px;
  height: 41px;
  left: 33px;
  position: absolute;
  top: 129px;
  width: 312px;
}

/* move the placeholder text the left and remove borders */

.modal .input-modal {
  border: none;
  border-radius: 3.95px;
  outline: none;
  height: 41px;
  width: 312px;
  top: 10px;
  padding-left: 9px;
  color: #3f9989;
  font-family: 'Lato-Bold', Helvetica;
  font-size: 11.1px;
  font-weight: 700;
}

::placeholder {
  position: absolute;
  left: 9px;
  color: #3f9989;
  font-family: 'Lato-Bold', Helvetica;
  font-size: 11.1px;
  font-weight: 700;
}

.active {
  display: inline-block;
  /* make entry animation */
  animation: entry 0.5s ease-in-out forwards;
}

@keyframes entry {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.inactive {
  /* make exit animation */
  animation: exit 0.5s ease-in-out forwards;
  display: none;
}

@keyframes exit {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.cuenta-nueva {
  /* remove link styling */
  text-decoration: none;
  color: #1e1e1e;
  font-family: 'Lato-Bold', Helvetica;
  font-size: 12.6px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18.9px;
  white-space: nowrap;
}

.forgot-password {
  color: #1e1e1e;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 650;
  height: 20px;
  left: 135px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  text-align: center;
  top: 185px;
  white-space: nowrap;
  /* Remove link color */
}

.forgot-password a {
  color: #1e1e1e;
  text-decoration: none !important;
}